.container-pokemons{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.pokemons-items{
    width: 150px;
    flex-direction: column;
    border: 2px solid yellow;
    border-radius: 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.constainer-image-pokemon{
    width:100px;
}
