

.App{
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.list-pokemon{
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 10px;
} 

.container-image-pokemon{
    width: 100px;
    margin: auto;
}


.select-container{
    margin: 0 20px;
}

.text-level{
    font-style: italic;
}
